<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>gz-ohaqyrf@znpebzngrf.pbz</string>
	<key>contactName</key>
	<string>Allan Odgaard</string>
	<key>description</key>
	<string>This bundle has functionality which add to the application but is not related to a specific task (bundle).</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>6E779E48-F146-49BF-B60C-EFDFD1380772</string>
			<string>950B3108-E2E3-414E-9C4C-EE068F59A895</string>
			<string>7AE6F783-F162-4063-850D-1441441849D8</string>
			<string>ED204720-38FC-427C-B91E-D6AE866DAE3A</string>
			<string>------------------------------------</string>
			<string>970BA294-B667-11D9-8D53-00039369B986</string>
			<string>------------------------------------</string>
			<string>BBB8AE46-0694-4453-B6C5-9B9633B891B2</string>
			<string>------------------------------------</string>
			<string>E5142394-B07A-11D9-8EC4-000D93589AF6</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>BBB8AE46-0694-4453-B6C5-9B9633B891B2</key>
			<dict>
				<key>items</key>
				<array>
					<string>5F225755-5840-44CF-BC26-2D484DE833A0</string>
					<string>ADFED53B-16EC-4956-A6A7-3EA2B8140F86</string>
				</array>
				<key>name</key>
				<string>Scratch Snippet</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>TextMate</string>
	<key>uuid</key>
	<string>5A9D4FC6-6CBE-11D9-A21B-000D93589AF6</string>
</dict>
</plist>
